<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      First Name:
      <input type="text" ng-model="firstName" ng-click="change(this)" /><br />
      Last Name:
      <input type="text" id="lastname" ng-model="lastName" /><br />
      <br />
      Full Name: {{firstName + " " + lastName}}
    </div>

    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        document.getElementById("lastname").readOnly = true;
        document
          .getElementById("lastname")
          .addEventListener("focus", (event) => {
            document.getElementById("lastname").readOnly = false;
            document.getElementById("lastname").click();
          });

        $scope.firstName = "John";
        $scope.lastName = "";
      });
    </script>
  </body>
</html>
